.container {
  padding: 1em;
  background-color: #fafafa;
  flex: 1 0 0;
}
.container h1 {
  margin: .5em 0;
}
img {
  height: auto;
  max-width: 100%;
  vertical-align: bottom;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
