@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;600&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
}

input,
textarea,
button,
select {
  font-family: inherit;
}
