.container {
  display: flex;
  justify-content: center;
}
.content-wrapper {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1em;
}
.container h1 {
  margin: 1em 0;
}

.container p {
  font-weight: lighter;
  font-size: .95rem;
  margin: 2.3em 0;
}

.container button {
  margin-top: 3em;
}
.icon {
  margin: 5em 0;
}
.svg {
  margin-left: auto;
  display: block;
}

.btn {
  padding: 7px 15px;
  border-radius: 4px;
  margin-right: 5px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.btn-main {
  background-color: #f87469;
  color: white;
  border: none;
  border: 1px solid #f87469;
  transition-duration: 200ms;
}

.btn-main:hover {
  background-color: #df685f;
  border: 1px solid #df685f;
}


@media only screen and (min-width: 720px) {
  .content-wrapper {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  .content {
    flex: 1.5;
  }
  .icon {
    flex: 2;
    margin-left: 2em;
  }
}